configure
libtool
Makefile*
*/Makefile*
aclocal.m4
autom4te.cache/
*/.deps
*/.libs
*.o
*.c
*.la
*.lo
*.a
config.*
config/depcomp
config/install-sh
config/missing
config/stamp-h1
config/ylwrap
src/rtgplot
src/rtgpoll
src/rtgtarg.h
man/rtgplot.1
man/rtgpoll.1
etc/common.php
etc/createdb
etc/rtgtargmkr.pl
