[project]
	description = Realtime Traffic Grapher 2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cédric LECOMTE (Prophidys)
[access "refs/for/refs/*"]
	read = group user/Cédric LECOMTE (Prophidys)
	push = group user/Cédric LECOMTE (Prophidys)
	label-Code-Review = -2..+2 group user/Cédric LECOMTE (Prophidys)
	label-Verified = -1..+1 group user/Cédric LECOMTE (Prophidys)
	rebase = group user/Cédric LECOMTE (Prophidys)
	removeReviewer = group user/Cédric LECOMTE (Prophidys)
	submit = group user/Cédric LECOMTE (Prophidys)
[access "refs/heads/*"]
	read = group user/Cédric LECOMTE (Prophidys)
	create = group user/Cédric LECOMTE (Prophidys)
	push = +force group user/Cédric LECOMTE (Prophidys)
	pushMerge = group user/Cédric LECOMTE (Prophidys)
[access "refs/tags/*"]
	push = +force group user/Cédric LECOMTE (Prophidys)
	pushTag = group user/Cédric LECOMTE (Prophidys)
	pushSignedTag = group user/Cédric LECOMTE (Prophidys)
